<%- include('partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %> Blog</div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <div>
            <label >Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <br>
        <div>
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <br>
        <div>
            <label>Body</label>
            <textarea name="blog[body]" cols="30" rows="10"> <%= blog.body %></textarea>
        </div>
        <br>
        <div>
            <input class="ui blue big basic button" type="submit" title="Update">
        </div>
    </form>
</div>
<%- include('partials/footer') %>